@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
#footer {
  color: white;
  background-color: #1c2826;
  padding-top: 40px;
  padding-bottom: 40px; }
  #footer .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px; }
  #footer hr.mobile-divider {
    border: none;
    height: 1px;
    width: 20px;
    background-color: white;
    opacity: 0.3; }
    @media only screen and (min-width: 1024px) {
      #footer hr.mobile-divider {
        display: none; } }
  #footer a {
    color: white;
    display: block;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 7px; }
  #footer a:hover {
    opacity: 0.5; }
  #footer span {
    display: block;
    margin-bottom: 7px; }
  #footer .leftside {
    text-align: center;
    padding-bottom: 50px;
    padding-right: 50px; }
    @media only screen and (max-width: 1023px) {
      #footer .leftside {
        border-right: none;
        padding-left: 0px;
        padding-right: 0px; } }
    #footer .leftside hr {
      width: 25%;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 20px; }
  #footer .center {
    text-align: center;
    padding-top: 33px; }
    #footer .center a {
      font-size: 14px;
      font-weight: 400; }
  #footer .rightside {
    text-align: right;
    padding-top: 33px; }
    @media only screen and (max-width: 1023px) {
      #footer .rightside {
        padding-top: 0px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 78px; } }
    #footer .rightside span {
      display: block;
      margin-bottom: 7px;
      font-size: 17px; }
  @media only screen and (max-width: 1023px) {
    #footer .social {
      margin-top: 40px; } }
  #footer .fa {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px; }

.footer-title {
  font-size: 20px; }

.footer-subtitle {
  font-size: 25px;
  font-family: "Playfair Display"; }

.info-footer {
  margin-top: 30px;
  font-size: 14px; }
  .info-footer span {
    margin-top: 7px; }

#credits {
  background-color: #151e1c;
  color: white;
  font-size: 15px; }
  @media only screen and (max-width: 1023px) {
    #credits {
      text-align: center; } }
  #credits .container-fluid {
    padding-top: 33px;
    padding-bottom: 30px;
    padding-left: 69px;
    padding-right: 69px;
    opacity: 0.4; }
  #credits .col-sm-6:nth-of-type(2) {
    text-align: right; }
    @media only screen and (max-width: 1023px) {
      #credits .col-sm-6:nth-of-type(2) {
        margin-top: 20px;
        text-align: center; } }
  #credits a {
    color: white;
    text-decoration: underline; }

.flat-link {
  text-decoration: underline;
  font-size: 17px; }

.hamburger, .close-btn {
  position: fixed;
  padding: 30px;
  top: 0;
  z-index: 3000; }
  .hamburger a, .close-btn a {
    font-size: 23px;
    text-decoration: none;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .hamburger a.white, .close-btn a.white {
    color: white; }
  .hamburger a.dark, .close-btn a.dark {
    color: #1d1d1d; }
  .hamburger a:hover, .close-btn a:hover {
    opacity: 0.4; }

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #1c2826;
  display: block;
  z-index: 4000;
  display: table;
  visibility: hidden; }
  .nav .close-btn {
    z-index: 2000; }
    .nav .close-btn a:hover {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }

.nav-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .nav-wrapper a {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .nav-wrapper a:nth-of-type(1) {
    transition-delay: 200ms; }
  .nav-wrapper a:nth-of-type(2) {
    transition-delay: 400ms; }
  .nav-wrapper a:nth-of-type(3) {
    transition-delay: 600ms; }
  .nav-wrapper a:nth-of-type(4) {
    transition-delay: 800ms; }
  .nav-wrapper a:nth-of-type(5) {
    transition-delay: 1000ms; }
  .nav-wrapper a:nth-of-type(6) {
    transition-delay: 1200ms; }
  .nav-wrapper a:nth-of-type(7) {
    transition-delay: 1400ms; }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.my-loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99; }

.my-loader-div {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%); }

.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; }

.sk-three-bounce .sk-child {
  width: 20px;
  height: 20px;
  background-color: #ff2755;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
html, body {
  font-family: "Poppins";
  color: #1c2826;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display"; }

textarea {
  resize: none; }

button:focus {
  outline: none; }

.language-switcher {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 400; }
  .language-switcher .language {
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white; }
  .language-switcher .language.dark {
    color: #1c2826; }
  .language-switcher .active {
    background-color: #1c2826; }
  .language-switcher .language:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.4); }
  .language-switcher .language.dark:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 380px) {
    .language-switcher {
      display: none; } }

.language-switcher.mobile {
  display: none; }
  @media only screen and (max-width: 380px) {
    .language-switcher.mobile {
      display: block; } }

.transition {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #f3f3f3;
  display: block; }

.hero-wrapper {
  background: url(../images/bg.jpg) no-repeat center center;
  position: relative;
  width: 100%;
  height: 100%;
  display: table; }

.hero-message {
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle; }
  .hero-message h1, .hero-message h2 {
    color: white; }
  .hero-message h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800; }
    @media only screen and (max-width: 1023px) {
      .hero-message h1 {
        font-size: 30px; } }
  .hero-message h2 {
    font-family: "Cardo";
    font-size: 33px;
    margin-top: 53px;
    /*
    @include respond-to(handhelds) { font-size:30px;}
    @include respond-to(medium-screens) { font-size:30px;}
    */ }
    @media only screen and (max-width: 1023px) {
      .hero-message h2 {
        font-size: 25px; } }
  .hero-message button {
    text-transform: uppercase;
    margin-top: 80px; }

ul {
  list-style-type: none; }

li {
  position: relative;
  padding-left: 54px;
  margin-bottom: 10px;
  font-size: 16px; }

li:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 36px;
  background-color: #333333;
  display: block;
  top: 9px;
  left: 0px; }

a.btn-flat {
  text-decoration: none; }

.btn-flat {
  border-radius: 5px;
  font-family: "Poppins";
  padding-top: 15px;
  padding-bottom: 33px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  height: 39px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media only screen and (max-width: 380px) {
    .btn-flat {
      font-size: 13px;
      padding-top: 13px;
      padding-bottom: 28px; } }
  @media only screen and (min-width: 381px) and (max-width: 1023px) {
    .btn-flat {
      font-size: 13px;
      padding-top: 13px;
      padding-bottom: 28px; } }

.btn-black {
  border: 2px solid #1d1d1d;
  background-color: transparent; }

.btn-black:hover {
  background-color: #1d1d1d;
  color: white; }

.btn-white {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 500; }

.btn-white:hover {
  background-color: white;
  color: #1d1d1d; }

.btn-main {
  border: 2px solid #d64550;
  background-color: #d64550;
  color: white;
  font-weight: 500;
  text-transform: uppercase; }

.btn-main:hover {
  background-color: transparent;
  color: #d64550; }

.btn-transparent {
  border: none;
  background: transparent; }

@media only screen and (min-width: 1024px) {
  .banner {
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto; } }
.banner li:before {
  background-color: transparent; }

.flat-link {
  text-decoration: underline;
  font-size: 17px; }

.vertical-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2px;
  background-color: #f3f3f3;
  height: 75px; }

.big-sections {
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .big-sections {
      width: 100%;
      height: 100%; } }
  .big-sections .left, .big-sections .right {
    height: 100%;
    display: table; }
    @media only screen and (max-width: 1023px) {
      .big-sections .left, .big-sections .right {
        padding-top: 20px;
        padding-bottom: 20px; } }
    .big-sections .left .wrapper, .big-sections .right .wrapper {
      display: table-cell;
      vertical-align: middle; }
  .big-sections .big-sections-wrapper {
    height: 100%; }

.information .left {
  background: #f3f3f3; }
  .information .left h3 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 28px; }
.information .right .wrapper {
  text-align: center;
  padding-left: 90px;
  padding-right: 90px; }
  @media only screen and (max-width: 1023px) {
    .information .right .wrapper {
      padding-left: 0px;
      padding-right: 0px; } }
  .information .right .wrapper img {
    width: 95px;
    height: auto; }
  .information .right .wrapper h4 {
    color: #d64550;
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 3px; }
  .information .right .wrapper p {
    font-size: 14px;
    font-weight: 200;
    line-height: 2;
    margin-top: 32px; }
  .information .right .wrapper .vertical-bar {
    margin-bottom: 25px; }

@media only screen and (max-width: 1023px) {
  #subinformation .left {
    padding-top: 50px;
    padding-bottom: 50px; } }

.subinformation .left {
  background: #1c2826;
  text-align: center; }
  @media only screen and (max-width: 1023px) {
    .subinformation .left {
      width: 100%; } }
  .subinformation .left h3, .subinformation .left h4 {
    color: #d64550;
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 300; }
    .subinformation .left h3 span, .subinformation .left h4 span {
      font-weight: 500; }
  .subinformation .left button {
    text-transform: uppercase;
    margin-top: 48px; }
  .subinformation .left .vertical-bar {
    opacity: 0.1;
    height: 51px;
    margin-bottom: 55px;
    margin-top: 34px; }
  .subinformation .left img {
    width: 95px;
    height: auto; }
.subinformation .right {
  padding: 0;
  background: url(../images/crafted-pic.jpg) no-repeat center center; }
  @media only screen and (max-width: 1023px) {
    .subinformation .right {
      height: 230px !important; } }

#our-services {
  display: inline-block;
  text-align: center; }
  #our-services .mobile {
    display: none; }
    @media only screen and (max-width: 1023px) {
      #our-services .mobile {
        display: block; } }
  #our-services .non-mobile {
    display: block; }
    @media only screen and (max-width: 1023px) {
      #our-services .non-mobile {
        display: none; } }
  #our-services .lbl-img {
    padding: 30px; }
    #our-services .lbl-img .wrapper {
      position: relative;
      top: 304px; }
      @media only screen and (max-width: 1023px) {
        #our-services .lbl-img .wrapper {
          top: 0px !important; } }
    #our-services .lbl-img img {
      width: 95px;
      height: auto; }
    #our-services .lbl-img h4 {
      font-family: "Poppins";
      color: #d64550;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 27px; }
    #our-services .lbl-img .vertical-bar {
      margin-bottom: 30px; }
  #our-services .services {
    padding: 0px; }
  #our-services .service {
    cursor: pointer;
    position: relative;
    height: 310px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: table; }
    #our-services .service .wrapper {
      display: table-cell;
      vertical-align: middle;
      height: 310px;
      padding-left: 10px;
      padding-right: 10px; }
      #our-services .service .wrapper .inside {
        overflow: hidden;
        max-height: 310px; }
    #our-services .service h2 {
      font-family: "Poppins";
      letter-spacing: 2px;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 25px;
      margin-bottom: 20px;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #our-services .service hr {
      width: 50%;
      margin: auto;
      border: none;
      height: 1px;
      opacity: 0.2;
      margin-top: 10px;
      margin-bottom: 20px;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #our-services .service p {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 25px;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #our-services .service span {
      font-size: 17px;
      font-weight: 300;
      opacity: 0.4;
      position: relative;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  #our-services .light {
    background-color: #f3f3f3;
    border: 1px solid #eeeeee; }
    @media only screen and (max-width: 1023px) {
      #our-services .light {
        border-bottom: 1px solid #cccccc; } }
    #our-services .light hr {
      background-color: #1c2826; }
  #our-services .main {
    background-color: #d64550;
    border: 1px solid #d64550;
    color: white; }
    #our-services .main hr {
      background-color: white; }
  #our-services .service:hover {
    z-index: 10;
    -webkit-box-shadow: 0px 13px 75px -15px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 13px 75px -15px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 13px 75px -15px rgba(0, 0, 0, 0.46); }
  #our-services .service:hover p {
    visibility: hidden;
    opacity: 0; }
  #our-services .service:hover h2 {
    margin-top: 33%; }
  #our-services .service:hover hr {
    visibility: hidden;
    opacity: 0; }
  #our-services .service:hover span {
    position: relative;
    display: inline-block;
    opacity: 1;
    -webkit-transform: translateY(-100px) rotate(-90deg); }
  #our-services .dark {
    background-color: #1c2826;
    border: 1px solid #1c2826;
    color: white; }
    #our-services .dark hr {
      background-color: white; }

.simplebox {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

#team {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  margin-top: -6px; }
  @media only screen and (max-width: 1023px) {
    #team {
      height: initial; } }
  #team .left {
    display: table;
    height: 100%;
    padding: 0; }
    @media only screen and (max-width: 1023px) {
      #team .left {
        display: block;
        height: initial;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 7px; } }
    #team .left .wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      @media only screen and (max-width: 1023px) {
        #team .left .wrapper {
          display: block; } }
      #team .left .wrapper img {
        width: 95px;
        height: auto; }
      #team .left .wrapper .vertical-bar {
        margin-bottom: 30px; }
      #team .left .wrapper h4 {
        font-family: "Poppins";
        color: #d64550;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 27px; }
  #team .right {
    position: relative;
    height: 100%;
    padding: 0; }
    @media only screen and (max-width: 1023px) {
      #team .right {
        height: initial; } }
    #team .right .img-wrapper, #team .right .description {
      height: 92%; }
    #team .right .img-wrapper {
      background: url(../images/team-1.jpg) no-repeat center center; }
      @media only screen and (max-width: 380px) {
        #team .right .img-wrapper {
          background-size: 100% auto !important;
          height: 209px; } }
      @media only screen and (min-width: 381px) and (max-width: 1023px) {
        #team .right .img-wrapper {
          background-size: 100% auto !important;
          height: 460px; } }
    #team .right .description {
      width: 40%;
      position: absolute;
      top: 0;
      background: #1c2826;
      background: rgba(28, 40, 38, 0.8);
      padding: 40px;
      height: 100%;
      overflow: scroll; }
      @media only screen and (max-width: 1023px) {
        #team .right .description {
          position: initial;
          width: 100%;
          background: #1c2826;
          overflow: visible;
          padding: 20px; } }
      #team .right .description h3 {
        color: white;
        font-family: "Poppins";
        font-size: 20px; }
      #team .right .description hr {
        border: none;
        height: 2px;
        display: block;
        background-color: white;
        width: 30px;
        margin-left: 0; }
      #team .right .description p {
        color: white;
        line-height: 28px;
        font-size: 15px; }
        @media only screen and (max-width: 1023px) {
          #team .right .description p {
            line-height: 23px;
            font-size: 14px; } }
      #team .right .description p:not(.active) {
        display: none; }
    #team .right .selection {
      height: 8%;
      position: absolute;
      bottom: 0;
      width: 100%; }
      @media only screen and (max-width: 1023px) {
        #team .right .selection {
          position: initial; } }
      #team .right .selection .col-sm-3 {
        padding: 0;
        position: relative;
        height: 100%;
        z-index: 200; }
      #team .right .selection .person {
        cursor: pointer;
        background: #1c2826;
        border-right: 1px solid #2e3937;
        height: 100%;
        text-align: center;
        padding-top: 5%;
        position: absolute;
        bottom: 0;
        width: 100%;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        @media only screen and (max-width: 1023px) {
          #team .right .selection .person {
            position: initial;
            padding-bottom: 5%;
            border: none;
            border-bottom: 1px solid #cccccc;
            background: #f3f3f3; } }
        #team .right .selection .person span {
          display: block;
          color: white;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
          font-size: 14px;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          @media only screen and (max-width: 1023px) {
            #team .right .selection .person span {
              color: #1c2826; } }
        #team .right .selection .person span:nth-of-type(2) {
          font-size: 12px;
          margin-top: 3px; }
      #team .right .selection .person:hover:not(.active) {
        background-color: #2e3937;
        height: 110%; }
      #team .right .selection .person:hover:not(.active) span:nth-of-type(2) {
        margin-top: 6px; }
      #team .right .selection .active {
        background-color: #d64550; }
        @media only screen and (max-width: 1023px) {
          #team .right .selection .active span {
            color: white; } }

#call {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  display: table;
  text-align: center; }
  #call .wrapper {
    display: table-cell;
    vertical-align: middle; }
    #call .wrapper .vertical-bar {
      background-color: #a5aaa9; }
      @media only screen and (max-width: 1023px) {
        #call .wrapper .vertical-bar {
          height: 35px; } }
    #call .wrapper img {
      width: 75px;
      height: auto; }
      @media only screen and (max-width: 380px) {
        #call .wrapper img {
          width: 52px; } }
    #call .wrapper h3 {
      font-family: "Poppins";
      font-weight: 200;
      font-size: 23px; }
      @media only screen and (max-width: 380px) {
        #call .wrapper h3 {
          font-size: 16px; } }
    #call .wrapper a {
      margin-top: 50px; }
    #call .wrapper .vertical-bar {
      margin-top: 40px;
      margin-bottom: 50px; }

#contact {
  height: 100%;
  width: 100%;
  display: relative; }
  @media only screen and (max-width: 1023px) {
    #contact {
      height: initial; } }
  #contact .left, #contact .right {
    height: 100%;
    display: table; }
    @media only screen and (max-width: 1023px) {
      #contact .left, #contact .right {
        height: initial;
        display: block; } }
  #contact .left {
    background-color: #1c2826;
    color: white;
    padding-left: 5%;
    position: relative; }
    #contact .left .wrapper {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px; }
      @media only screen and (max-width: 1023px) {
        #contact .left .wrapper {
          display: block;
          font-size: 13px;
          text-align: center;
          padding-bottom: 30px;
          padding-top: 30px; } }
      #contact .left .wrapper p {
        margin-top: 15px;
        margin-bottom: 15px;
        display: inline-block; }
        @media only screen and (max-width: 1023px) {
          #contact .left .wrapper p {
            margin-top: 5px;
            margin-bottom: 5px; } }
      #contact .left .wrapper span:nth-of-type(odd) {
        margin-right: 10px; }
    #contact .left .social {
      width: 100%;
      position: absolute;
      left: 0;
      text-align: center;
      bottom: 10%; }
      @media only screen and (max-width: 1023px) {
        #contact .left .social {
          position: relative; } }
      #contact .left .social a {
        margin-left: 8px;
        margin-right: 8px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        @media only screen and (max-width: 1023px) {
          #contact .left .social a {
            margin-bottom: 40px; } }
      #contact .left .social a:hover {
        color: #d64550; }
  #contact .right {
    background-color: #f3f3f3; }
    #contact .right .wrapper {
      text-align: center;
      margin: auto;
      display: table-cell;
      vertical-align: middle; }
      @media only screen and (max-width: 1023px) {
        #contact .right .wrapper {
          padding-top: 40px;
          padding-bottom: 40px; } }
      #contact .right .wrapper img {
        width: 75px;
        height: auto; }
      #contact .right .wrapper a {
        margin-top: 3px; }
      #contact .right .wrapper h3 {
        font-family: "Poppins";
        color: #d64550;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 27px;
        margin-bottom: 30px; }
      #contact .right .wrapper .vertical-bar {
        background-color: #a5aaa9;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 25px; }
      #contact .right .wrapper .form-div {
        width: 60%;
        margin: auto; }
        @media only screen and (max-width: 380px) {
          #contact .right .wrapper .form-div {
            width: 100%; } }
        #contact .right .wrapper .form-div label {
          display: none; }
        #contact .right .wrapper .form-div input, #contact .right .wrapper .form-div textarea {
          border-radius: 0px;
          background-color: #e6e7e7;
          margin-bottom: 10px;
          display: inline-block;
          margin-top: 10px;
          padding-top: 24px;
          padding-bottom: 20px;
          padding-left: 18px;
          padding-right: 18px;
          font-size: 15px;
          border: 1px solid #D6D6D6;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        #contact .right .wrapper .form-div textarea {
          padding-top: 12px; }
        #contact .right .wrapper .form-div input:focus, #contact .right .wrapper .form-div textarea:focus {
          border: 1px solid #d64550;
          background-color: #f3f3f3; }

.alert {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #E65757;
  text-align: left; }

.alert-validate-form {
  display: none;
  margin-top: 15px; }
  .alert-validate-form .alert {
    color: #27ae60;
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px; }

#service {
  height: 100%;
  width: 100%;
  display: relative; }
  #service .left, #service .right {
    height: 100%; }
    @media only screen and (max-width: 1023px) {
      #service .left, #service .right {
        height: initial; } }
  #service .left {
    background: url(../images/service.jpg) no-repeat center center;
    position: relative; }
    @media only screen and (max-width: 1023px) {
      #service .left {
        height: 150px; } }
    #service .left .gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(235, 29, 49, 0.55);
      background: -moz-linear-gradient(top, rgba(235, 29, 49, 0.55) 0%, rgba(230, 37, 204, 0.55) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 29, 49, 0.55)), color-stop(100%, rgba(230, 37, 204, 0.55)));
      background: -webkit-linear-gradient(top, rgba(235, 29, 49, 0.55) 0%, rgba(230, 37, 204, 0.55) 100%);
      background: -o-linear-gradient(top, rgba(235, 29, 49, 0.55) 0%, rgba(230, 37, 204, 0.55) 100%);
      background: -ms-linear-gradient(top, rgba(235, 29, 49, 0.55) 0%, rgba(230, 37, 204, 0.55) 100%);
      background: linear-gradient(to bottom, rgba(235, 29, 49, 0.55) 0%, rgba(230, 37, 204, 0.55) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1d31', endColorstr='#e625cc', GradientType=0 ); }
  #service .right {
    background-color: #f3f3f3;
    overflow: scroll; }
    @media only screen and (max-width: 1023px) {
      #service .right {
        overflow: visible; } }
    #service .right .wrapper {
      margin: auto;
      vertical-align: middle;
      padding: 8%; }
      #service .right .wrapper h5 {
        font-family: "Poppins";
        font-size: 17px;
        color: #A9A9A9;
        margin-bottom: 22px; }
      #service .right .wrapper hr {
        border: none;
        height: 1px;
        display: block;
        width: 10%;
        margin-bottom: 53px;
        margin-top: 50px;
        background-color: #C1C1C1; }
      #service .right .wrapper p {
        margin: 0 0 10px;
        line-height: 30px;
        font-size: 15px; }
      #service .right .wrapper .header {
        text-align: center;
        margin-bottom: 25px; }
        #service .right .wrapper .header img {
          width: 75px;
          height: auto; }
        #service .right .wrapper .header h3 {
          font-family: "Poppins";
          color: #d64550;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 27px;
          margin-bottom: 30px; }
        #service .right .wrapper .header .vertical-bar {
          background-color: #a5aaa9;
          height: 40px;
          margin-top: 20px;
          margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
